body {
    background-color: black;
}

/* Container for the Teams */
.form-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Each group of inputs */
.group-container {
    background-color: #f0f0f0; /* Default background color */
    padding: 10px;
    /* border-radius: 8px; */
    /* flex: 1; */
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin-right: 20px;
}

.icon {
    font-size: 18px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
    font-weight: bold;
}

/* Flexbox container for each player input group */
.player-input {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 10px;
}

/* Player name is too big */
.player-name {
    max-width: 200px;
    margin-right: 15px;
}

/* Player ID is too small */
.player-id {
    flex: 1;
    max-width: 70px;
}

/* Equipment ID is just right */
.equipment-id {
    flex: 1;
    max-width: 100px;
}

.column-names {
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: bold;
}

.column-names label {
    width: fit-content;
    text-align: center;
    padding-left: 20px;
}

.column-names label:nth-child(1) {
    width: 70px;
}

.column-names label:nth-child(2) {
    width: 130px;
    padding-right: 35px;
}

.column-names label:nth-child(3) {
    width: 100px;
    padding-left: 0px;
}

label {
    margin-right: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 20px;
}

input[type='submit'] {
    background-color: #ffffff;
    color: rgb(0, 65, 186);
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
input[type='submit']:hover {
    background-color: gray;
}

.title-container {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    font-size: 24px;
}

input {
    outline: none;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 0.2em;
    font-weight: bold;
    padding: 2px;
}

/* button[type='submit'] {
    justify-content: right;
} */
