footer {
    display: flex;
    padding-top: 30px;
}
.op-button {
    background-color: #0e234c;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    display: inline-flexbox;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 150px;
    min-height: 140px;
}

p {
    display: inline-block;
}

.op-button:hover {
    color: rgb(145, 145, 145);
}
