body {
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
}

.team-table {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.outsideBorder {
    border: yellow 4px solid;
    margin: 10px;
}
.container {
    width: 95%;
    margin: 20px;
    border: 4px solid yellow;
    padding: 20px;
    height: 100%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.team-scores {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 280px;
    width: 100%;
}

.team {
    width: 50%;
    padding: 10px;
    border: 2px solid #fff;
    text-align: center;
}

.team.red {
    background-color: darkred;
    color: white;
    margin-right: 10px;
}

.team.green {
    background-color: darkgreen;
    color: white;
}
.player-list {
    /* display: inline-block; */
    font-size: 16px;
    color: lightblue;
    /* background-color: midnightblue; */
}

.current-action {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid white;
    height: 50%;
    overflow-y: auto;
    text-align: left;
    align-self: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    width: 70%;
    color: lightblue;
    background-color: midnightblue;
    height: 300px;
}

.action-alert {
    color: white;
    font-size: 24px;
    display: block;
}

.time-left {
    padding: 10px;
    border: 2px solid white;
    text-align: center;
    font-size: 32px;
    font-weight: 200;
}

.pop-up {
    background-color: green;
    color: white;
    padding: 10px;
    border: 10px solid darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    margin-left: 20px;
    visibility: collapse;
    display: none;
    text-align: center;
}

.pop-up :first-child{
    font-size: 64px;
    font-weight: 800;
    color:white;
    text-align: center;
}

.current-action-title {
    font-size: 36px;
    font-weight: 800;
    margin-left: 230px;
    color: blue;
    text-align: left;
    margin-bottom: 10px;
}