<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/add-player.css" />
        <link rel="stylesheet" href="/static/css/app-styles.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Photon</title>
    </head>
    <body>
        <h1>Edit Teams</h1>
        <div id="edit-screen-form" class="form-container">
            <div class="group-container" style="background-color: #ae1a00">
                <h2 class="title-container">Red Team</h2>
                <div class="column-names">
                    <label>Player ID</label>
                    <label>Player Name</label>
                    <label>Equipment ID</label>
                </div>
                <form id="red-team-form" method="POST" action="/submit-red" onsubmit="checkEditScreenInputs(event)">
                    {% for i in range(1, 21) %}
                    <div class="player-input">
                        <span class="icon">-></span>
                        <input type="number" id="player_id_{{ i }}" name="player_id_{{ i }}" class="player-id" required />
                        <input type="text" id="player_name_{{ i }}" name="player_name_{{ i }}" class="player-name" required />
                        <input type="number" id="equipment_id_{{ i }}" name="equipment_id_{{ i }}" class="equipment-id" />
                    </div>
                    {% endfor %}
                    <input type="submit" id="submit-red" value="Submit Red Team" />
                </form>
            </div>
            <div class="group-container" style="background-color: #23be00">
                <h2 class="title-container">Green Team</h2>
                <div class="column-names">
                    <label>Player ID</label>
                    <label>Player Name</label>
                    <label>Equipment ID</label>
                </div>
                <form id="green-team-form" method="POST" action="/submit-green" onsubmit="checkEditScreenInputs(event)">
                    {% for i in range(1, 21) %}
                    <div class="player-input">
                        <span class="icon"> -> </span>
                        <input type="number" id="player_id_{{ i }}" name="player_id_{{ i }}" class="player-id" />
                        <input type="text" id="player_name_{{ i }}" name="player_name_{{ i }}" class="player-name" />
                        <input type="number" id="equipment_id_{{ i }}" name="equipment_id_{{ i }}" class="equipment-id" />
                    </div>
                    {% endfor %}
                    <input type="submit" id="submit-green" value="Submit Green Team" />
                </form>
            </div>
        </div>
    </body>
    <footer>
        <button id="mode-button" class="op-button">
            <p id="button1">Back to Main</p>
            F5
        </button>
        <button id="clear-button" class="op-button">
            <p style="margin-bottom: 5px" id="button2">Clear All Player Entries</p>
            F12
        </button>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
