<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Game Scoreboard</title>
        <link rel="stylesheet" href="/static/css/game-action.css" />
        <link rel="stylesheet" href="/static/css/app-styles.css" />
    </head>
    <body>
        <div id="pop-up" class="pop-up">
            <div>
                <p id="short-timer">15</p>
            </div>  
        </div>
        <div id="action-container" class="outsideBorder">
            <div class="container">
                <div class="team-scores">
                    <div class="team red">
                        <h2>RED TEAM</h2>
                        {% for redPlayer in redPlayers %}
                        <div class="player-list">{{ redPlayer }}</div>
                        {% endfor %}
                    </div>
                    <div class="team green">
                        <h2>GREEN TEAM</h2>
                        {% for greenPlayer in greenPlayers %}
                        <div class="player-list">{{ greenPlayer }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="current-action-title">CURRENT GAME</div>
                <div class="current-action">
                    {% for action in actions %}
                    <div class="action-alert">{{ action }}</div>
                    {% endfor %}
                </div>
                <div class="time-left">
                    <p id="timer"></p>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <button id="start-button" class="op-button">
            <p id="button1">Start Game</p>
            F5
        </button>
        <button id="mode-button" class="op-button">
            <p id="button1">Edit Teams</p>
            F12
        </button>
    </footer>
    <script src="{{ url_for('static', filename='script-game-action.js') }}"></script>
</html>